*~
model.log
*/input.csv
__pycache__
.python-version
/output/*
metadata/*
venv/
.DS_Store
.Rhistory
.Rproj.user/
/released_output/*
notebooks/bp002_exclusions.html
notebooks/bp002_exclusions_files/
notebooks/metadata/db.sqlite
