*~
model.log
*/input.csv
__pycache__
.python-version
/output/*
metadata/*
venv/
.DS_Store
.Rhistory
.Rproj.user/
/released_output/*
notebooks/exclusions/bp002_exclusions.html
notebooks/exclusions/bp002_exclusions_files/
notebooks/exclusions/metadata/db.sqlite
notebooks/achievement/qof_bp_report_files/*
notebooks/dummy_data_test/dummy_data_test_files/*
notebooks/achievement/qof_bp_report.html
